<nav class="navbar navbar-expand-lg bg-light">
	<div class="container-fluid">
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <a class="navbar-brand" href="/">PokéDex</a>
	  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
		<form class="d-flex" role="login">
			<div class="btn-group" *ngIf="!logeado">
				<input type="text" class="form-control" placeholder="Nombre" #nombre (keyup.enter)="login(nombre.value)">
				<button class="btn btn-info" (click)="login(nombre.value)">Entrar</button>
			</div>
		</form>
		<span *ngIf="logeado"><h4>Usuario: {{nombreU}}</h4></span> &nbsp;
		<form class="d-flex" role="search">
			<div class="btn-group">
				<input class="form-control" placeholder="Nombre pokemon" type="text" #buscarPokemon (keyup.enter)="buscarPokemons(buscarPokemon.value)">
				<button class="btn btn-success" (click)="buscarPokemons(buscarPokemon.value)">Buscar</button>
			</div>
		</form>
	  </div>
	</div>
</nav>