<nav class="navbar navbar-expand-lg bg-light">
	<div class="container-fluid">
	  <a class="navbar-brand" href="/">PokéDex</a>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
		<form class="d-flex" role="search">
			<div class="btn-group">
				<input class="form-control" placeholder="Nombre pokemon" type="text" #buscarPokemon (keyup.enter)="buscarPokemons(buscarPokemon.value)">
				<button class="btn btn-success" (click)="buscarPokemons(buscarPokemon.value)">Buscar</button>
			</div>
		</form>
	  </div>
	</div>
</nav>